.sliderContainer {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -600px;
	width: auto;
	height: auto;
	background-color: white;
	z-index: 9999;
	-webkit-animation: slide 0.5s forwards;
	padding: 1rem;
	animation: slide 0.5s forwards;
	border-radius: 0px 4px 4px 0px;
}

.sliderContainer.close {
	display: none;
}

.slider__list--item {
	list-style-type: none;
	padding: 0.6rem 0rem;
	border-bottom: 1px solid lightblue;
	display: flex;
	justify-content: space-between;
}
.slider__list--item span {
	list-style-type: none;
	padding: 0.5rem 1rem;
}
.slider__list--item a {
	background-color: lightblue;
	border-radius: 4px;
	padding: 0.5rem 1.4rem;
	text-decoration: none;
	color: white;
}
.slider__list--item a:hover {
	background-color: rgba(50, 171, 212, 0.701);
	border-radius: 4px;
	padding: 0.5rem 1.4rem;
	text-decoration: none;
	color: white;
	transition: all 0.3s;
	transform: translateY(-2px);
}

@-webkit-keyframes slide {
	100% {
		left: 0;
	}
}

@keyframes slide {
	100% {
		left: 0;
	}
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
}

.slider-to-open {
	position: absolute;
	top: 30%;
	left: 0%;
	z-index: 9999;
	background-color: #fded55;
	padding: 0.4rem 1rem 0.4rem 0.2rem;
	font-size: 1.5rem;
	border-radius: 0px 12px 12px 0px;
	cursor: pointer;
}

.slider-to-open:hover {
	background-color: #d9cf85;
}
