.spinnerMap {
	height: 90vh;
	width: 100%;
	display: grid;
	place-items: center;
	z-index: 99999999;
	background-color: rgba(255, 255, 255, 0.039);
	opacity: 0.3;
}

.info-container {
	position: absolute;
	background-color: #ffeda0;
	padding: 0.3rem 1rem 0.3rem 1rem;
	z-index: 99999;
	font-size: 1.5rem;
	top: calc(0 - 80px);
	left: 50%;
	transform: translateX(-50%);
}
